<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link id="modal" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
    <link id="css-link" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dark_design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swicher.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hamburger_menu.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>

    <div class="header">
    <!-- Top Navigation Menu -->

            <!-- Navigation links (hidden by default) -->
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <div class="container" >
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
{#            <i class="fa fa-bars"></i>#}
            <ul id="myLinks">
                {% if session['user_name'] %}
                    <li id="register" hidden>Register</li>
                    <li id="login" hidden>Login</li>
                    <a href="/logout">Logout</a>
                {% else %}
                    <li id="register">Register</li>
                    <li id="login">Login</li>
                {% endif %}
            </ul>

        <h1>ProMan</h1>
        {% if session['user_name'] %}
            <h2>Welcome {{ session['user_name'] }}</h2>
        {% endif %}


    </div>

    <div id="boards">

        <!-- New board button & theme changer-->
        <button type="button" id="new-board">Create new board</button>
        <div class="switcher">
            <input data-theme="light" type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
            </label>
        </div>

        <!-- Boards area -->
        <div class="board-container"></div>
    </div>

<!-- Base modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                {% for category, message in get_flashed_messages(with_categories=True) %}
                                <div class="alert-{{category}}">{{ message }}</div>
                        {% endfor %}
                </div>
            <div class="modal-footer">
                <button id="close-button" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>

    <!-- Modal for (new card) inputs -->
    <div id="myModal_card" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Card</h5>
                <button type="button" id="x" class="close-card" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" placeholder="Card title" name="title" required>
                    <br>
                    <button id="submit-card" data-boardid="">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="card-close-button" type="button"  data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <!-- Modal for (new board) inputs -->
    <div id="myModal_board" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Board</h5>
                <button type="button" id="x" class="close-board" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input class="input_board_title" type="text" placeholder="Board title" name="title" required>
                    <br>
                    <button id="submit-board">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="board-close-button" type="button"  data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <!--Modal for new column-->
    <div id="myModal_col" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Status</h5>
                <button type="button" id="x" class="close-status" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="status_id" type="text" placeholder="Status title" name="title" required>
                    <br>
                    <button id="submit-status" data-boardid="">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="status-close-button" type="button"  data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <template class="board-template">
        <section class="board" >
            <div class="board-header">
                <span class="board-title" ></span>
                <form class="board-form hide" >
                    <input type="text" class="new-name">
                    <button type="submit" class="save">Save</button>
                </form>
                <button class="board-remove" ><i class="fas fa-trash-alt"></i></button>
                <button class="card-add" >Add Card</button>
                <button class="board-status-add" ><i class="icon-columns"></i></button>
                <button class="board-toggle" ><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="board-columns">
            </div>
        </section>
    </template>

    <template class="status-template">
      <div class="board-column">
            <div class="board-column-title"></div>
            <form class="status-form hide">
                <input type="text" class="new-name">
            </form>
            <div class="board-column-content">
        </div>
      </div>
    </template>

    <template class="card-template">
        <div class="card droppable" draggable="true" card-order="${card.order}" id="${card.id}" data_status=${card.status_id}>
            <div class="card-remove" id="${card.id}"><i class="fas fa-trash-alt"></i></div>
            <div class="card-title" id="${card.id}" >${card.title}</div>
        </div>
    </template>

    <!-- Some scripts for functionality-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
